body{
    background-color: black;
    font-family: "Dancing Script", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}

button{
    background-color:azure;
    font-family: "Dancing Script", cursive;
}